* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

a {
  text-decoration: none;
}

/* ---clearfix---- */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.topnav {
  background-color: black;
  color: #eee;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn {
  background-color: #EB5757;
  border-radius: 14px;
  color: white;
  padding: 5px 20px;
  margin: 0 10px;
}

/* ------------------------------------------------ */
.nav {
  background-color: #EB5757;
}

.logo {
  background-color: #EB5757;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.main-nav {
  display: flex;
}

.main-nav a {
  color: white;
  margin: 0 20px;
  font-size: 18px;
  padding: 4px 10px;
}

.main-nav a:hover {
  border-radius: 4px;
  background-color: black;
  padding: 4px 10px;
}

.shop-cart {
  background-color: black;
  border-radius: 4px;
}

/* ------------------------------- */
.bg-section {
  background-image: url(/images/pexels-photo-2994146.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.main-section {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-section h1 {
  font-size: 62px;
  color: #f9f9f9;
  width: 35%;
  line-height: 1.2;
  margin: 20px 0 10px;
}

.main-section p {
  font-size: 20px;
  color: #f9f9f9;
  width: 35%;
  line-height: 1.2;
  margin: 0 0 25px;
}

.main-section .shop-btn {
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.main-section .shop-btn:hover {
  background-color: #f9f9f9;
  color: #333;
}

/* ------------------------------------------------------- */

.support-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.main-support h2 {
  font-size: 40px;
  color: #333;
  line-height: 1.3;
}

.p {
  color: #333;
  margin-bottom: 10px;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.column {
  width: 30%;

}

.cards .first-card {
  display: flex;
  min-height: 330px;
  justify-content: center;
  align-items: center;
}

.first-card {

  background-color: #333333;
  color: #eee;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  border-radius: 6px;
  margin-bottom: 25px;
}

.cards p {
  color: #333333;
  font-size: 18px;
  margin-bottom: 60px;
}

/* --------------------------------------- */

.safe-section {
  background-image: url(/images/5e83fb3a6948e1f05b20527f_nathan-dumlao-pLoMDKtl-JY-unsplash.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

.main-safe-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  min-height: 550px;
}

.safe-h2 {
  color: #f9f9f9;
  font-size: 45px;
  margin: 20px 0 10px;
  text-align: end;
}

.safe-p {
  color: #f9f9f9;
  margin-bottom: 25px;
  text-align: end;
}

.safe-btn {
  background-color: #f9f9f9;
  color: #222;
  padding: 5px 25px;
  border-radius: 5px;
}

.safe-btn:hover {
  background-color: #EB5757;
  color: #222;
}

/* --------------------------------------- */

.products-section {
  padding: 65px 0;
}

.shop-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  color: #333;
  text-transform: uppercase;
  height: 1.4;
}

.shop-section h2 {
  color: #333;
  font-size: 40px;
  text-transform: capitalize;
}

.products-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  color: #222;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  padding-top: 20px;
}

.product-price {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
}

.item-btn {
  background-color: #EB5757;
  color: #f9f9f9;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-btn:hover {
  background-color: #222;
  color: #f9f9f9;
}

.item-btn a:visited {
  color: #f9f9f9;
}

.item-btn a:active {
  columns: #f9f9f9;
}

del {
  color: red;
}

.all-products {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.all-btn {
  background-color: #222;
  color: #f9f9f9;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: capitalize;
}

.all-btn:hover {
  background-color: #EB5757;
  color: #f9f9f9;
}

/* -------------------------------------------------- */

.last-section {
  padding: 65px 0;
}

.local {
  position: relative;
  display: flex;
  min-height: 500px;
  justify-content: flex-end;
}

.local-left {
  background-image: url(/images/meet5e84cdfbaf8c176df76d51a3_sept-commercial-Cqu3DdNwtKQ-unsplash\ \(1\)\ \(1\).jpeg);
  position: absolute;
  left: 0;
  top: 5%;
  right: auto;
  bottom: 0;
  width: 45%;
  height: 90%;
  border-radius: 5px;
  background-position: 50% 100%;
  background-size: cover;
}

.local-right {
  display: flex;
  width: 80%;
  padding: 45px;
  justify-content: flex-end;
  background-color: #222;
  align-items: center;
  color: #f9f9f9;
  border-radius: 10px;
}

.text {
  width: 80%;
  padding-right: 145px;
  padding-left: 145px;
}

.text h2 {
  font-size: 45px;
  line-height: 1.2;
}

.text p {
  padding-bottom: 10px;
}

/* ------------------------------------------------ */
.footer-section {
  background-color: #222;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}

.social-logo img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

/*------------------ page covid-19 ------------------- */
.black-bg {
  padding: 40px 0;
  background-color: #222;
}

.black-bg h2 {
  color: #f9f9f9;
  font-size: 38px;
}

.section {
  padding: 65px 0;
  color: #333;
  line-height: 1.6;
}

.section h2 {
  font-size: 32px;
  margin: 20px 0 10px;
}

.section p {
  margin: 0 0 10px;
}

.section h4 {
  font-size: 18px;
  margin: 10px 0;
}

/* ----------about.html css--------------- */
.adventure-bg {
  background-image: url(/images/adv5e840df8e2c9cc7677e4f00e_felix-rostig-UmV2wr-Vbq8-unsplash.jpeg);
  background-position: center;
  background-size: cover;
}

.adventure {
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.adventure h1 {
  font-size: 62px;
  color: #f9f9f9;
  line-height: 1.2;
  margin: 20px 0 10px;
}

.adventure p {
  font-size: 20px;
  color: #f9f9f9;
  line-height: 1.2;
  margin: 0 0 25px;
  width: 35%;
}

.adventure .shop-btn {
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.adventure .shop-btn:hover {
  background-color: #f9f9f9;
  color: #333;
}

.why-acme-section {
  padding: 65px 0;
}

.why-acme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.why-acme h2 {
  font-size: 32px;
  color: #333;
  margin: 20px 0 10px;
}

.why-acme p {
  color: #333;
  margin: 0 0 10px;
  text-align: center;
  line-height: 1.4;
}

.about-acme-section {
  display: flex;
  justify-content: space-between;
}

.about-acme {
  width: 22%;
}

.about-acme img {
  display: block;
}

.about-acme h3 {
  color: #333;
  font: 24px;
  margin: 20px 0 10px;
}

.about-acme p {
  color: #333;
  margin: 0 0 10px;
}

.owner-bios {
  display: flex;
  justify-content: space-around;
}

.owner-bio {
  display: flex;
  width: 35%;
  flex-direction: column;
  align-items: center;
}

.owner-img img {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.owner-bio h3 {
  color: #333;
  font-size: 24px;
  margin: 20px 0 10px;
}

.owner-bio p {
  text-align: center;
  color: #333;
  margin: 0 0 10px;
  line-height: 1.5;
}

.help-section {
  background-image: url(/images/hello5e84f74f40a146d432ac3598_adam-solomon-WHUDOzd5IYU-unsplash\ \(1\)\ \(1\).jpeg);
  background-size: cover;
  background-position: center;
}

.help-btn a {
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  padding: 5px 25px;
  font-weight: 700;
}

.help-btn a:hover {
  background-color: #f9f9f9;
  color: #222;
}

/* -------------Shop.html css---------------- */
.page-title {
  padding: 30px 0;
  background-color: #222;
  color: #f9f9f9;
}

#page-title {
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
  padding: 10px 0;
}

#white-tent {
  background-image: url(/images/white-tent-full5e856e41c718420c18dd6751_patrick-hendry-eDgUyGu93Yw-unsplash.jpeg);
  position: relative;
  width: 100%;
  border-radius: 5px;
  min-height: 250px;
  background-position: 50% 50%;
  background-size: cover;
  flood-color: #f9f9f9;
  text-decoration: none;
}

.featur-item {
  position: absolute;
  left: auto;
  top: 8%;
  right: 1%;
  bottom: auto;
  z-index: 1;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #222;
  margin-right: 10px;
  padding: 5px 20px;
}

.featur-name {
  position: absolute;
  left: 1%;
  top: auto;
  right: auto;
  bottom: 20%;
  margin-top: 5px;
  color: #f9f9f9;
}

#white-tent h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}

.featur-price {
  position: absolute;
  left: 1%;
  top: auto;
  right: auto;
  bottom: 10%;
  color: #f9f9f9;
}

.menu {
  width: 20%;
  padding-right: 25px;
}

.menu h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.5;
}

.category-btn {
  padding: 5px 25px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  line-height: 1.5;
  display: block;
}

.menu a {
  color: #333;
  font-size: 18px;
}

.menu a:hover {
  background-color: #333;
  color: #f9f9f9;
}

.shop-list {
  width: 80%;

}

.listproducts {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.shop-item {
  width: 100%;
  margin-bottom: 40px;
}

.giftcard {
  background-image: url(/images/giftcard5e861d123df4d175e80e8beb_acme-gift-card.jpeg);
  min-height: 400px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 5px;
}

.tin-coffee {
  background-image: url(/images/tin-coffee.jpeg);
  min-height: 400px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 5px;
}

.blue-canvas {
  background-image: url(/images/canvas-pack.jpeg);
  min-height: 400px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 5px;
}

.green-canvas {
  background-image: url(/images/greenpack5e8542198347409e463f436b_jakob-owens-O_bhy3TnSYU-unsplash.jpeg);
  min-height: 400px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 5px;
}

.white-tent {
  background-image: url(/images/white-tent-full5e856e41c718420c18dd6751_patrick-hendry-eDgUyGu93Yw-unsplash.jpeg);
  min-height: 400px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 5px;
}

.shop-details {
  display: flex;
  justify-content: center;
}

.shop-item-name {
  color: #333;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 10px 0;
}

.item-price {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 0;
  justify-content: center;
  border-bottom: 1px none rgba(34, 34, 34, 0.08);
}

.shop-item-price {
  margin-right: 10px;
  color: #222;
  font-size: 14px;
  font-weight: 700;
}

.shop-btn-details {
  display: flex;
  justify-content: center;
}

.details-btn {
  padding: 5px 25px;
  border: 1px solid #EB5757;
  border-radius: 5px;
  background-color: #EB5757;
  font-weight: 700;
  color: #f9f9f9;
}

.details-btn:hover {
  background-color: #333;
  border-color: #333;

}


/* ------------------------------------------------------- */
.shopping-page {
  display: flex;
}
.shopping-page-left {
  width: 40%;
}
.shopping-page-image {
  background-image: url(/images/giftcard5e861d123df4d175e80e8beb_acme-gift-card.jpeg);
  min-height: 450px;
  border-radius: 5px;
  background-position: 50% 50%;
  background-size: cover;
}
.shopping-page-image-tin {
  background-image: url(/images/tin-coffee.jpeg);
  min-height: 450px;
  border-radius: 5px;
  background-position: 50% 50%;
  background-size: cover;
}
.shopping-page-image-tent {
  background-image: url(/images/white-tent-full5e856e41c718420c18dd6751_patrick-hendry-eDgUyGu93Yw-unsplash.jpeg);
  min-height: 450px;
  border-radius: 5px;
  background-position: 50% 50%;
  background-size: cover;
}
.shopping-page-image-green {
  background-image: url(/images/greenpack5e8542198347409e463f436b_jakob-owens-O_bhy3TnSYU-unsplash.jpeg);
  min-height: 450px;
  border-radius: 5px;
  background-position: 50% 50%;
  background-size: cover;
}
.shopping-page-image-blue {
  background-image: url(/images/canvas-pack.jpeg);
  min-height: 450px;
  border-radius: 5px;
  background-position: 50% 50%;
  background-size: cover;
}
.shopping-page-right {
  width: 60%;
  padding-left: 60px;
}
.product-headin {
  margin: 0 0 10px 0;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
  color: #333;
}
.price-product {
  display: flex;
  margin-bottom: 10px;
  font-size: 18px;
}
.pricein {
  margin-right: 10px;
  color: #222;
  font-weight: 700;
  text-align: left;
  font-size: 16px;
}
label{
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  color: #333;
  font-size: 16px;
}
.add-to-cart {
  display: flex;
  margin-top: 15px;
}
input {
  border: 1px solid #222;
  border-radius: 5px;
}
.cart-quantity {
  margin-right: 5px;
  padding: 0 10px;
}
.add-to-cart-btn {
  color: #EB5757;
  background-color: transparent;
  padding: 5px 25px;
  border: 1px solid #EB5757;
  border-radius: 5px;
  font-weight: 700;
}
.richtext h2 {
  color: #333;
  font-size: 32px;
  margin: 20px 0 10px;
}
.richtext p {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}
.richtext h4 {
  color: #333;
  font-size: 16px;
  margin: 10px 0;
}